.editable-field-container {
    position: relative;
  }
  
  .editable-field {
    display: inline-block;
    cursor: default; /* Make sure it's not clickable */
    position: relative;
  }
  
  .edit-icon {
    margin-left: 10px;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }
  
  .editable-field-container:hover .edit-icon {
    opacity: 1;
  }
  
  .action-icon {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .action-icon:hover {
    color: #007bff; /* Change to your desired hover color */
  }
  
  .save-icon {
    color: rgb(0, 255, 0);
  }
  
  .cancel-icon {
    color: rgb(255, 50, 50);
  }
  
  .edit-field {
    display: flex;
    align-items: center;
  }
  
  .edit-input {
    flex: 1;
    width: auto; /* Set width to auto */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-right: 10px;
    transition: border-color 0.3s ease;
  }
  
  .edit-input:focus {
    border-color: #007bff;
    outline: none;
  }
  

  