*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.main-container{
  display: flex;
}
.sidebar{
  background: rgb(0, 7, 61);
  color: white;
  height: 100vh;
  position: sticky;
  bottom: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.top_section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
} 

.logo{
  font-size: 18px;
}

.link{
  display: flex;
  color: white;
  gap: 15px;
  padding: 8px 12px;
  border-right: 4px solid transparent;
  align-items: center;
}

.link:hover{
  border-right: 4px solid white;
  transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
  background: rgb(45, 51, 89);
}

.link-text{
  font-size: 13px;
  white-space: nowrap;
}
.active{
  border-right: 4px solid white;
  background: rgb(45, 51, 89);
}

table, th, td {
  border: 1px solid black;
}